* {
  margin: 0;
  padding: 0;
}

body {
  margin: 4rem;
  background-color: rgb(145, 191, 236);
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 4rem;
}

nav {
  margin-bottom: 4rem;
  font-size: 2rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: rgb(108, 156, 36);
}

a,
a:focus,
a:visited {
  color: rgb(238, 92, 43);
  outline: none;
}
