.dayview li {
  list-style-type: none;
  background-color: rgb(236, 236, 225);
}

.dayview .appointment {
  border: 2px solid grey;
  width: 60%;
  margin-bottom: 20px;
}

.dayview .time,
.dayview .patient {
  height: 30px;
  padding: 10px;
}

.dayview .time {
  float: right;
  background-color: rgb(109, 216, 180);
}

.dayview .patient {
  font-weight: bold;
  background-color: rgb(94, 130, 248);
}

.dayview .dentist,
.dayview .assistant {
  padding: 10px;
}
